Repository COS301-SE-2022/PaWdopt, pull requests merged in 2022-06, with the labels that each got.

#80 Created and initialized pages for demo 2.
  apps/pawdopt/src/assets/avatar1.jpg
  apps/pawdopt/src/assets/avatar2.jpg
  apps/pawdopt/src/assets/avatar3.jpg
  libs/mobile/dashboard/feature/src/lib/dashboard.page.html
  libs/mobile/dashboard/feature/src/lib/dashboard.page.scss
  libs/mobile/dashboard/feature/src/lib/dashboard.page.ts
  libs/mobile/owneddogs/feature/src/lib/owneddogs.page.html
  libs/mobile/owneddogs/feature/src/lib/owneddogs.page.scss
  libs/mobile/updateorremovedog/feature/src/lib/updateorremovedog.page.html
  libs/mobile/updateorremovedog/feature/src/lib/updateorremovedog.page.scss
  libs/mobile/updateorremovedog/feature/src/lib/updateorremovedog.page.ts
  libs/mobile/userinfo/feature/src/lib/userinfo.page.html
  libs/mobile/userinfo/feature/src/lib/userinfo.page.scss
  libs/mobile/userlikes/feature/src/lib/userlikes.page.html
  libs/mobile/userlikes/feature/src/lib/userlikes.page.scss
  libs/mobile/userprofile/feature/src/lib/userprofile.page.html
  libs/mobile/userprofile/feature/src/lib/userprofile.page.scss
Labels: priority:medium, design, scope:ui

#78 🧱 🔐 (Docker): Updated Mongo Docker and env
  .env
  apps/pawdopt/src/app/app.component.spec.ts
  docker-compose.yml
Labels: priority:medium, status:ready, type:change, type:test, scope:db, scope:repository

#88 🐛 (API): Fixed API issues
  libs/backend/shell/api/feature/src/lib/api.dto.ts
  libs/backend/shell/api/feature/src/lib/api.resolver.ts
  libs/backend/shell/api/feature/src/lib/api.schema.ts
  libs/backend/shell/api/feature/src/lib/api.service.ts
  libs/backend/shell/api/feature/src/lib/backend-shell-api-feature.module.ts
  schema.gql
Labels: priority:high, type:bug, scope:api, scope:db

#89 💄 (UI) Fixed issues with UI Formatting/Routing
  apps/pawdopt/src/app/app-routing.module.ts
  libs/mobile/adddog/feature/src/lib/adddog.page.html
  libs/mobile/adddog/feature/src/lib/adddog.page.scss
  libs/mobile/adddog/feature/src/lib/adddog.page.ts
  libs/mobile/owneddogs/feature/src/lib/owneddogs.page.html
  libs/mobile/owneddogs/feature/src/lib/owneddogs.page.scss
  libs/mobile/owneddogs/feature/src/lib/owneddogs.page.ts
Labels: priority:low, design, scope:ui

#91 Completed API full Usage and implemented a test query to Swiping page
  apps/backend/src/app/app.module.ts
  apps/pawdopt/src/app/app.module.ts
  apps/pawdopt/src/app/home/home.module.ts
  apps/pawdopt/src/app/home/home.page.ts
  libs/backend/shell/api/feature/src/lib/api.dto.ts
  libs/backend/shell/api/feature/src/lib/api.resolver.ts
  libs/backend/shell/api/feature/src/lib/api.schema.ts
  libs/backend/shell/api/feature/src/lib/api.service.ts
  package.json
  schema.gql
  tsconfig.base.json
  yarn.lock
Labels: status:not-ready, status:need-tests, api, scope:api, scope:ui

#95 🚑 Updates to schema and API
  libs/backend/shell/api/feature/src/lib/api.dto.ts
  libs/backend/shell/api/feature/src/lib/api.resolver.ts
  libs/backend/shell/api/feature/src/lib/api.schema.ts
  libs/backend/shell/api/feature/src/lib/api.service.spec.ts
  libs/backend/shell/api/feature/src/lib/api.service.ts
  libs/backend/shell/api/feature/src/lib/backend-shell-api-feature.module.ts
  schema.gql
  yarn.lock
Labels: priority:high, status:ready, type:change, type:enhance, scope:api, scope:db

#96 Implementation of Dashboard Integration
  images/Bella.jpg
  images/Marcus.jpg
  libs/backend/shell/api/feature/src/lib/api.dto.ts
  libs/backend/shell/api/feature/src/lib/api.resolver.ts
  libs/backend/shell/api/feature/src/lib/api.service.ts
  libs/mobile/dashboard/feature/src/lib/dashboard.page.html
  libs/mobile/dashboard/feature/src/lib/dashboard.page.ts
  schema.gql
Labels: priority:high, status:need-tests

#97 ✨ (API): Integrated the signup
  .gitignore
  libs/backend/shell/api/feature/src/lib/api.resolver.ts
  libs/backend/shell/api/feature/src/lib/api.service.ts
  libs/mobile/signup/feature/src/lib/signup.page.html
  libs/mobile/signup/feature/src/lib/signup.page.ts
Labels: status:ready, scope:api, type:addition

#98 ✨(UI+API) Created login functionality
  .gitignore
  libs/backend/shell/api/feature/src/lib/api.resolver.ts
  libs/backend/shell/api/feature/src/lib/api.service.ts
  libs/mobile/login/feature/src/lib/login.page.html
  libs/mobile/login/feature/src/lib/login.page.ts
  schema.gql
Labels: priority:high, status:ready, design, api

#100 ✨Created update/remove pages
  libs/backend/shell/api/feature/src/lib/api.dto.ts
  libs/backend/shell/api/feature/src/lib/api.resolver.ts
  libs/backend/shell/api/feature/src/lib/api.schema.ts
  libs/backend/shell/api/feature/src/lib/api.service.ts
  libs/mobile/dashboard/feature/src/lib/dashboard.page.ts
  libs/mobile/updateorremovedog/feature/src/lib/updateorremovedog.page.html
  libs/mobile/updateorremovedog/feature/src/lib/updateorremovedog.page.ts
Labels: api

#102 ✨ Added images
  Docs/Architectural Document.pdf
  Docs/Coding Standards.pdf
  Docs/SRS Document.pdf
  libs/mobile/updateorremovedog/feature/src/lib/updateorremovedog.page.ts
  schema.gql
Labels: priority:low, status:ready, scope:db, type:addition

#103 🐛 (API): Updated the signup page
  libs/backend/shell/api/feature/src/lib/api.resolver.ts
  libs/backend/shell/api/feature/src/lib/api.service.ts
  libs/mobile/signup/feature/src/lib/signup.page.ts
Labels: priority:high, status:ready, type:bug, scope:api

#104 🐛 fixes
  libs/backend/shell/api/feature/src/lib/api.resolver.ts
  libs/backend/shell/api/feature/src/lib/api.service.ts
  libs/mobile/dashboard/feature/src/lib/dashboard.page.ts
  libs/mobile/owneddogs/feature/src/lib/owneddogs.module.ts
  libs/mobile/owneddogs/feature/src/lib/owneddogs.page.ts
  libs/mobile/signup/feature/src/lib/signup.page.ts
  schema.gql
Labels: bug

#105 ✨ 🐛 (API): Intergrated UserInfo page
  apps/pawdopt/src/assets/local-file-not-found.png
  libs/backend/shell/api/feature/src/lib/api.resolver.ts
  libs/mobile/dashboard/feature/src/lib/dashboard.module.ts
  libs/mobile/dashboard/feature/src/lib/dashboard.page.html
  libs/mobile/dashboard/feature/src/lib/dashboard.page.ts
  libs/mobile/userinfo/feature/src/lib/userinfo.page.html
  libs/mobile/userinfo/feature/src/lib/userinfo.page.ts
Labels: priority:high, status:ready, type:bug, type:enhance, scope:api

#106 ✨ Created semi-working owned dogs page
  .gitignore
  libs/backend/shell/api/feature/src/lib/api.resolver.ts
  libs/backend/shell/api/feature/src/lib/api.service.ts
  libs/mobile/adddog/feature/src/lib/adddog.page.ts
  libs/mobile/login/feature/src/lib/login.module.ts
  libs/mobile/login/feature/src/lib/login.page.ts
  libs/mobile/owneddogs/feature/src/lib/owneddogs.page.html
  libs/mobile/owneddogs/feature/src/lib/owneddogs.page.ts
  schema.gql
Labels: priority:medium, design, api, scope:ui

#107 :sparkles: Created semi-functional user profile page
  libs/mobile/userprofile/feature/src/lib/userprofile.page.html
  libs/mobile/userprofile/feature/src/lib/userprofile.page.ts
Labels: api

#108 ✨ 🔥 (API): Integrated addorg
  libs/backend/shell/api/feature/src/lib/api.resolver.ts
  libs/backend/shell/api/feature/src/lib/api.service.ts
  libs/mobile/addorg/feature/src/lib/addorg.page.html
  libs/mobile/addorg/feature/src/lib/addorg.page.ts
  libs/mobile/signup/feature/src/lib/signup.page.ts
  libs/mobile/userinfo/feature/src/lib/userinfo.page.ts
Labels: priority:high, status:ready, type:change, scope:api, type:addition

#109 ✨ Created provision for demo 2
  apps/pawdopt/src/app/home/home.page.ts
  libs/backend/shell/api/feature/src/lib/api.dto.ts
  libs/backend/shell/api/feature/src/lib/api.resolver.ts
  libs/backend/shell/api/feature/src/lib/api.schema.ts
  libs/backend/shell/api/feature/src/lib/api.service.spec.ts
  libs/backend/shell/api/feature/src/lib/api.service.ts
  libs/backend/shell/api/feature/src/lib/backend-shell-api-feature.module.ts
  libs/mobile/dashboard/feature/src/lib/dashboard.page.html
  libs/mobile/dashboard/feature/src/lib/dashboard.page.ts
  libs/mobile/owneddogs/feature/src/lib/owneddogs.page.html
  libs/mobile/owneddogs/feature/src/lib/owneddogs.page.ts
  libs/mobile/updateorremovedog/feature/src/lib/updateorremovedog.page.html
  libs/mobile/updateorremovedog/feature/src/lib/updateorremovedog.page.ts
  libs/mobile/userlikes/feature/src/lib/userlikes.page.html
  libs/mobile/userlikes/feature/src/lib/userlikes.page.ts
  libs/mobile/userprofile/feature/src/lib/userprofile.page.html
  libs/mobile/userprofile/feature/src/lib/userprofile.page.ts
  schema.gql
Labels: priority:high, design, api

#110 ✅ (API+DB): Added unit testing for API and DB queries
  libs/backend/shell/api/feature/src/lib/api.dto.ts
  libs/backend/shell/api/feature/src/lib/api.resolver.ts
  libs/backend/shell/api/feature/src/lib/api.schema.ts
  libs/backend/shell/api/feature/src/lib/api.service.spec.ts
  libs/backend/shell/api/feature/src/lib/api.service.ts
  libs/backend/shell/api/feature/src/lib/backend-shell-api-feature.module.ts
Labels: priority:low, status:ready, db, api, type:test

#112 ✨ Fixed provisioning for demo 2
  apps/pawdopt/src/app/home/home.page.ts
  apps/pawdopt/src/assets/idmock.png
  libs/backend/shell/api/feature/src/lib/api.dto.ts
  libs/backend/shell/api/feature/src/lib/api.schema.ts
  libs/backend/shell/api/feature/src/lib/api.service.spec.ts
  libs/backend/shell/api/feature/src/lib/api.service.ts
  libs/mobile/owneddogs/feature/src/lib/owneddogs.page.ts
  libs/mobile/userinfo/feature/src/lib/userinfo.page.ts
  schema.gql
Labels: priority:high, design, api
