Repository COS301-SE-2022/PaWdopt, pull requests merged in 2022-07, with the labels that each got.

#114 🚑 ✨ implemented dynamic routing transfer
  apps/pawdopt/src/app/app-routing.module.ts
  apps/pawdopt/src/app/app.module.ts
  libs/mobile/dashboard/feature/src/lib/dashboard.page.html
  libs/mobile/dashboard/feature/src/lib/dashboard.page.ts
  libs/mobile/userinfo/feature/src/lib/userinfo.page.ts
  package.json
  schema.gql
  yarn.lock
Labels: priority:high, status:ready, type:change, type:enhance, scope:db

#115 Revert "🚑 ✨ implemented dynamic routing transfer"
  apps/pawdopt/src/app/app-routing.module.ts
  apps/pawdopt/src/app/app.module.ts
  libs/mobile/dashboard/feature/src/lib/dashboard.page.html
  libs/mobile/dashboard/feature/src/lib/dashboard.page.ts
  libs/mobile/userinfo/feature/src/lib/userinfo.page.ts
  package.json
  schema.gql
  yarn.lock
Labels: invalid

#116 Fixed UI Issues 💄
  apps/pawdopt/src/app/home/home.page.html
  apps/pawdopt/src/app/home/home.page.scss
  apps/pawdopt/src/assets/pawlikebtn.svg
  libs/mobile/login/feature/src/lib/login.page.html
  libs/mobile/updateorremovedog/feature/src/lib/updateorremovedog.page.html
  libs/mobile/updateorremovedog/feature/src/lib/updateorremovedog.page.scss
  libs/shared/styles/global.scss
  package.json
  yarn.lock
Labels: priority:medium, design, scope:ui

#117 Completed UI Fixes 💄
  libs/mobile/login/feature/src/lib/login.page.html
  libs/mobile/owneddogs/feature/src/lib/owneddogs.page.html
  libs/mobile/owneddogs/feature/src/lib/owneddogs.page.scss
  libs/mobile/owneddogs/feature/src/lib/owneddogs.page.ts
  libs/mobile/userinfo/feature/src/lib/userinfo.page.html
  libs/mobile/userinfo/feature/src/lib/userinfo.page.ts
  libs/mobile/userprofile/feature/src/lib/userprofile.page.html
Labels: priority:high, design, scope:ui

#126 (State management) ✨ 🚀 ➕ : Added state management
  apps/pawdopt-e2e/project.json
  apps/pawdopt/project.json
  apps/pawdopt/src/app/app.module.ts
  libs/mobile/adddog/feature/project.json
  libs/mobile/addorg/feature/project.json
  libs/mobile/dashboard/feature/project.json
  libs/mobile/login/feature/project.json
  libs/mobile/login/feature/src/lib/login.page.ts
  libs/mobile/owneddogs/feature/src/lib/owneddogs.page.html
  libs/mobile/owneddogs/feature/src/lib/owneddogs.page.ts
  libs/mobile/signup/feature/project.json
  libs/mobile/uikit/feature/project.json
  libs/mobile/userlikes/feature/project.json
  libs/shared/data-store/.eslintrc.json
  libs/shared/data-store/README.md
  libs/shared/data-store/jest.config.ts
  libs/shared/data-store/project.json
  libs/shared/data-store/src/index.ts
  libs/shared/data-store/src/lib/shared-data-store.module.ts
  libs/shared/data-store/src/lib/vars-store/state/vars.actions.ts
  libs/shared/data-store/src/lib/vars-store/state/vars.effects.spec.ts
  libs/shared/data-store/src/lib/vars-store/state/vars.effects.ts
  libs/shared/data-store/src/lib/vars-store/state/vars.facade.spec.ts
  libs/shared/data-store/src/lib/vars-store/state/vars.facade.ts
  libs/shared/data-store/src/lib/vars-store/state/vars.models.ts
  libs/shared/data-store/src/lib/vars-store/state/vars.reducer.spec.ts
  libs/shared/data-store/src/lib/vars-store/state/vars.reducer.ts
  libs/shared/data-store/src/lib/vars-store/state/vars.selectors.spec.ts
  libs/shared/data-store/src/lib/vars-store/state/vars.selectors.ts
  libs/shared/data-store/src/lib/vars-store/vars-store.module.ts
  libs/shared/data-store/tsconfig.json
  libs/shared/data-store/tsconfig.lib.json
  libs/shared/data-store/tsconfig.spec.json
  package.json
  tsconfig.base.json
  workspace.json
  yarn.lock
Labels: priority:high, status:need-tests, scope:repository

#127 (State management) 🚑 : Fixed null injector issue with state management
  libs/mobile/login/feature/src/lib/login.module.ts
  libs/mobile/login/feature/src/lib/login.page.ts
  libs/mobile/owneddogs/feature/src/lib/owneddogs.page.ts
Labels: priority:high, scope:repository

#128 Added new pages and configured API
  apps/pawdopt/src/app/app-routing.module.ts
  libs/backend/shell/api/feature/src/lib/api.resolver.ts
  libs/backend/shell/api/feature/src/lib/api.service.ts
  libs/mobile/chat/feature/.babelrc
  libs/mobile/chat/feature/.eslintrc.json
  libs/mobile/chat/feature/README.md
  libs/mobile/chat/feature/jest.config.ts
  libs/mobile/chat/feature/project.json
  libs/mobile/chat/feature/src/index.ts
  libs/mobile/chat/feature/src/lib/chat-routing.module.ts
  libs/mobile/chat/feature/src/lib/chat.module.ts
  libs/mobile/chat/feature/src/lib/chat.page.html
  libs/mobile/chat/feature/src/lib/chat.page.scss
  libs/mobile/chat/feature/src/lib/chat.page.ts
  libs/mobile/chat/feature/tsconfig.json
  libs/mobile/chat/feature/tsconfig.lib.json
  libs/mobile/chat/feature/tsconfig.spec.json
  libs/mobile/uploaddoc/feature/.babelrc
  libs/mobile/uploaddoc/feature/.eslintrc.json
  libs/mobile/uploaddoc/feature/README.md
  libs/mobile/uploaddoc/feature/jest.config.ts
  libs/mobile/uploaddoc/feature/project.json
  libs/mobile/uploaddoc/feature/src/index.ts
  libs/mobile/uploaddoc/feature/src/lib/uploaddoc-routing.module.ts
  libs/mobile/uploaddoc/feature/src/lib/uploaddoc.module.ts
  libs/mobile/uploaddoc/feature/src/lib/uploaddoc.page.html
  libs/mobile/uploaddoc/feature/src/lib/uploaddoc.page.scss
  libs/mobile/uploaddoc/feature/src/lib/uploaddoc.page.ts
  libs/mobile/uploaddoc/feature/tsconfig.json
  libs/mobile/uploaddoc/feature/tsconfig.lib.json
  libs/mobile/uploaddoc/feature/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: design, api

#129 Created base UI for Adoption Process, Org Profile and Appointment Booking pages 💄
  apps/pawdopt/src/assets/spcalogo-meta.png
  libs/mobile/adoptionprocess/feature/src/lib/adoptionprocess.page.html
  libs/mobile/adoptionprocess/feature/src/lib/adoptionprocess.page.scss
  libs/mobile/appointmentpage/feature/src/lib/appointmentpage.page.html
  libs/mobile/appointmentpage/feature/src/lib/appointmentpage.page.scss
  libs/mobile/orgprofile/feature/src/lib/orgprofile.page.html
  libs/mobile/orgprofile/feature/src/lib/orgprofile.page.scss
Labels: design, scope:ui

#130 Small UI Fixes 💄
  apps/pawdopt/src/app/home/home.page.html
  apps/pawdopt/src/app/home/home.page.scss
  libs/mobile/appointmentpage/feature/src/lib/appointmentpage.page.html
Labels: design, scope:ui

#131 uploadDoc creation
  libs/mobile/uploaddoc/feature/src/lib/uploaddoc.page.html
  libs/mobile/uploaddoc/feature/src/lib/uploaddoc.page.scss
  libs/mobile/uploaddoc/feature/src/lib/uploaddoc.page.ts
Labels: design, scope:ui

#132 AddDog implementation and fixes 🧔‍♀️
  libs/backend/shell/api/feature/src/lib/api.dto.ts
  libs/backend/shell/api/feature/src/lib/api.resolver.ts
  libs/backend/shell/api/feature/src/lib/api.schema.ts
  libs/backend/shell/api/feature/src/lib/api.service.spec.ts
  libs/backend/shell/api/feature/src/lib/api.service.ts
  libs/backend/shell/api/feature/src/lib/backend-shell-api-feature.module.ts
  libs/mobile/adddog/feature/src/lib/adddog.page.html
  libs/mobile/adddog/feature/src/lib/adddog.page.ts
Labels: status:not-ready, status:need-tests, api, scope:ui

#133 Fixed ID issue with dogs ⛷️
  libs/backend/shell/api/feature/src/lib/api.dto.ts
  libs/backend/shell/api/feature/src/lib/api.resolver.ts
  libs/backend/shell/api/feature/src/lib/api.schema.ts
  libs/backend/shell/api/feature/src/lib/api.service.ts
  libs/mobile/adddog/feature/src/lib/adddog.page.ts
  libs/mobile/dashboard/feature/src/lib/dashboard.module.ts
  libs/mobile/dashboard/feature/src/lib/dashboard.page.ts
  schema.gql
Labels: bug

#134 (Firebase) 🚧 : Firebase setup
  apps/pawdopt/project.json
  apps/pawdopt/src/app/app.module.ts
  apps/pawdopt/src/environments/environment.prod.ts
  libs/backend/shell/api/feature/src/lib/api.dto.ts
  libs/backend/shell/api/feature/src/lib/api.schema.ts
  libs/mobile/login/feature/src/lib/login.page.ts
  libs/mobile/signup/feature/src/lib/signup.page.ts
  package.json
  schema.gql
  yarn.lock
Labels: enhancement, priority:high, status:ready

#137 Basic fixes for db and dashboard 🤒
  libs/backend/shell/api/feature/src/lib/api.dto.ts
  libs/backend/shell/api/feature/src/lib/api.resolver.ts
  libs/backend/shell/api/feature/src/lib/api.schema.ts
  libs/backend/shell/api/feature/src/lib/api.service.ts
  libs/mobile/dashboard/feature/src/lib/dashboard.page.html
  libs/mobile/dashboard/feature/src/lib/dashboard.page.ts
  libs/mobile/owneddogs/feature/src/lib/owneddogs.page.ts
  schema.gql
Labels: api

#138 UI and API integration 🧟‍♀️
  libs/backend/shell/api/feature/src/lib/api.resolver.ts
  libs/backend/shell/api/feature/src/lib/api.service.ts
  libs/mobile/adddog/feature/src/lib/adddog.page.ts
  libs/mobile/dashboard/feature/src/lib/dashboard.page.html
  libs/mobile/dashboard/feature/src/lib/dashboard.page.ts
  libs/mobile/login/feature/src/lib/login.page.ts
  libs/mobile/owneddogs/feature/src/lib/owneddogs.page.html
  libs/mobile/owneddogs/feature/src/lib/owneddogs.page.ts
  libs/shared/data-store/src/lib/vars-store/state/vars.actions.ts
  libs/shared/data-store/src/lib/vars-store/state/vars.facade.ts
  libs/shared/data-store/src/lib/vars-store/state/vars.reducer.ts
  libs/shared/data-store/src/lib/vars-store/state/vars.selectors.ts
  schema.gql
Labels: status:ready, status:need-tests, db, api

#140 (UI, API)💄 🚀 : updated addorg, login and signup
  libs/backend/shell/api/feature/src/lib/api.dto.ts
  libs/backend/shell/api/feature/src/lib/api.resolver.ts
  libs/backend/shell/api/feature/src/lib/api.schema.ts
  libs/mobile/addorg/feature/src/lib/addorg.page.html
  libs/mobile/addorg/feature/src/lib/addorg.page.scss
  libs/mobile/addorg/feature/src/lib/addorg.page.ts
  libs/mobile/login/feature/src/lib/login.page.ts
  libs/mobile/signup/feature/src/lib/signup.page.ts
  schema.gql
Labels: priority:high, status:need-tests, scope:api, scope:db, scope:repository, scope:ui

#143 Implemented org profile 💄
  libs/backend/shell/api/feature/src/lib/api.dto.ts
  libs/backend/shell/api/feature/src/lib/api.resolver.ts
  libs/backend/shell/api/feature/src/lib/api.service.ts
  libs/mobile/orgprofile/feature/src/lib/orgprofile.module.ts
  libs/mobile/orgprofile/feature/src/lib/orgprofile.page.html
  libs/mobile/orgprofile/feature/src/lib/orgprofile.page.ts
  libs/mobile/userlikes/feature/src/lib/userlikes.page.html
  libs/mobile/userlikes/feature/src/lib/userlikes.page.ts
Labels: api, scope:ui

#142 (UI, API) 🐛 ✨ Updated the userInfo page
  libs/backend/shell/api/feature/src/lib/api.dto.ts
  libs/backend/shell/api/feature/src/lib/api.resolver.ts
  libs/backend/shell/api/feature/src/lib/api.schema.ts
  libs/backend/shell/api/feature/src/lib/api.service.ts
  libs/mobile/add-org-member/feature/.babelrc
  libs/mobile/add-org-member/feature/.eslintrc.json
  libs/mobile/add-org-member/feature/README.md
  libs/mobile/add-org-member/feature/jest.config.ts
  libs/mobile/add-org-member/feature/project.json
  libs/mobile/add-org-member/feature/src/index.ts
  libs/mobile/add-org-member/feature/src/lib/mobile-add-org-member-feature.spec.ts
  libs/mobile/add-org-member/feature/src/lib/mobile-add-org-member-feature.ts
  libs/mobile/add-org-member/feature/tsconfig.json
  libs/mobile/add-org-member/feature/tsconfig.lib.json
  libs/mobile/add-org-member/feature/tsconfig.spec.json
  libs/mobile/dashboard/feature/src/lib/dashboard.page.ts
  libs/mobile/login/feature/src/lib/login.module.ts
  libs/mobile/userinfo/feature/src/lib/userinfo.page.html
  libs/mobile/userinfo/feature/src/lib/userinfo.page.ts
  libs/mobile/userprofile/feature/src/lib/userprofile.page.ts
  schema.gql
  tsconfig.base.json
  workspace.json
Labels: priority:medium, status:need-tests, type:change, api, scope:api, scope:db, scope:ui

#145 Implemented Owneddogs
  libs/backend/shell/api/feature/src/lib/api.resolver.ts
  libs/backend/shell/api/feature/src/lib/api.service.ts
  libs/mobile/owneddogs/feature/src/lib/owneddogs.page.html
  libs/mobile/owneddogs/feature/src/lib/owneddogs.page.ts
Labels: api, scope:ui

#144 (Firebase) ✨ 🚀 : Updated signup, addorg and login
  libs/backend/shell/api/feature/src/lib/api.dto.ts
  libs/backend/shell/api/feature/src/lib/api.resolver.ts
  libs/backend/shell/api/feature/src/lib/api.schema.ts
  libs/backend/shell/api/feature/src/lib/api.service.ts
  libs/mobile/addorg/feature/src/lib/addorg.page.ts
  libs/mobile/login/feature/src/lib/login.page.ts
  libs/mobile/signup/feature/src/lib/signup.page.ts
  schema.gql
Labels: priority:high, status:ready, scope:api, scope:db

#146 Implemented Adoption Process Page, User likes and Owned dogs page 💄
  libs/backend/shell/api/feature/src/lib/api.dto.ts
  libs/backend/shell/api/feature/src/lib/api.resolver.ts
  libs/backend/shell/api/feature/src/lib/api.service.ts
  libs/mobile/adoptionprocess/feature/src/lib/adoptionprocess.module.ts
  libs/mobile/adoptionprocess/feature/src/lib/adoptionprocess.page.html
  libs/mobile/adoptionprocess/feature/src/lib/adoptionprocess.page.scss
  libs/mobile/adoptionprocess/feature/src/lib/adoptionprocess.page.ts
  libs/mobile/userlikes/feature/src/lib/userlikes.page.html
  libs/mobile/userlikes/feature/src/lib/userlikes.page.ts
Labels: priority:medium, design, status:need-tests, api, scope:ui

#147 (API) 🚀 Home swiping page
  apps/pawdopt/src/app/home/home.page.html
  apps/pawdopt/src/app/home/home.page.scss
  apps/pawdopt/src/app/home/home.page.ts
  apps/pawdopt/src/assets/lastDog.png
  libs/backend/shell/api/feature/src/lib/api.dto.ts
  libs/backend/shell/api/feature/src/lib/api.resolver.ts
  libs/backend/shell/api/feature/src/lib/api.schema.ts
  libs/backend/shell/api/feature/src/lib/api.service.ts
  libs/mobile/userinfo/feature/src/lib/userinfo.page.html
  libs/shared/data-store/src/lib/vars-store/state/vars.actions.ts
  libs/shared/data-store/src/lib/vars-store/state/vars.facade.ts
  libs/shared/data-store/src/lib/vars-store/state/vars.reducer.ts
  libs/shared/data-store/src/lib/vars-store/state/vars.selectors.ts
  schema.gql
Labels: priority:high, status:not-ready, type:change, type:enhance, scope:api, scope:ui

#148 (Multiple areas)🚧 💄 🚀 ⚡️ 🎨 : Major changes
  libs/backend/shell/api/feature/src/lib/api.dto.ts
  libs/backend/shell/api/feature/src/lib/api.resolver.ts
  libs/backend/shell/api/feature/src/lib/api.schema.ts
  libs/backend/shell/api/feature/src/lib/api.service.ts
  libs/mobile/adddog/feature/src/lib/adddog.page.ts
  libs/mobile/addorg/feature/src/lib/addorg.page.scss
  libs/mobile/addorg/feature/src/lib/addorg.page.ts
  libs/mobile/adoptionprocess/feature/src/lib/adoptionprocess.page.ts
  libs/mobile/login/feature/src/lib/login.page.html
  libs/mobile/login/feature/src/lib/login.page.ts
  libs/mobile/orgprofile/feature/src/lib/orgprofile.page.ts
  libs/mobile/owneddogs/feature/src/lib/owneddogs.page.html
  libs/mobile/owneddogs/feature/src/lib/owneddogs.page.ts
  libs/mobile/signup/feature/src/lib/signup.page.ts
  libs/mobile/userlikes/feature/src/lib/userlikes.page.html
  libs/mobile/userlikes/feature/src/lib/userlikes.page.ts
  libs/shared/data-store/src/lib/vars-store/state/vars.actions.ts
  libs/shared/data-store/src/lib/vars-store/state/vars.facade.ts
  libs/shared/data-store/src/lib/vars-store/state/vars.reducer.ts
  libs/shared/data-store/src/lib/vars-store/state/vars.selectors.ts
  schema.gql
Labels: priority:high, status:need-tests, scope:api, scope:db, scope:ui

#151 Created and tested functionality in pages manually 🏗️
  apps/pawdopt/src/app/home/home.page.ts
  libs/backend/shell/api/feature/src/lib/api.resolver.ts
  libs/backend/shell/api/feature/src/lib/api.service.ts
  libs/mobile/adddog/feature/src/lib/adddog.page.ts
  libs/mobile/addorg/feature/src/lib/addorg.page.html
  libs/mobile/addorg/feature/src/lib/addorg.page.ts
  libs/mobile/dashboard/feature/src/lib/dashboard.page.ts
  libs/mobile/owneddogs/feature/src/lib/owneddogs.page.html
  libs/mobile/owneddogs/feature/src/lib/owneddogs.page.ts
  libs/mobile/updateorremovedog/feature/src/lib/updateorremovedog.page.ts
  package.json
  schema.gql
  yarn.lock
Labels: bug, enhancement, design, status:not-ready, status:need-tests

#152 Carried on with manual testing of pages and fixes 🦯
  apps/pawdopt/src/app/home/home.page.ts
  libs/backend/shell/api/feature/src/lib/api.resolver.ts
  libs/backend/shell/api/feature/src/lib/api.service.ts
  libs/mobile/orgprofile/feature/src/lib/orgprofile.page.html
  libs/mobile/orgprofile/feature/src/lib/orgprofile.page.ts
  libs/mobile/userlikes/feature/src/lib/userlikes.page.html
  libs/mobile/userlikes/feature/src/lib/userlikes.page.ts
Labels: bug, enhancement, priority:high, status:not-ready, status:need-tests

#153 (API, UI) 🚀 : Added unit testing, fixed addorg, added preferences page
  apps/pawdopt/src/app/app-routing.module.ts
  libs/backend/shell/api/feature/src/lib/api.dto.ts
  libs/backend/shell/api/feature/src/lib/api.resolver.ts
  libs/backend/shell/api/feature/src/lib/api.service.spec.ts
  libs/backend/shell/api/feature/src/lib/api.service.ts
  libs/mobile/addorg/feature/src/lib/addorg.page.ts
  libs/mobile/preferences/feature/.babelrc
  libs/mobile/preferences/feature/.eslintrc.json
  libs/mobile/preferences/feature/README.md
  libs/mobile/preferences/feature/jest.config.ts
  libs/mobile/preferences/feature/project.json
  libs/mobile/preferences/feature/src/index.ts
  libs/mobile/preferences/feature/src/lib/preferences-routing.module.ts
  libs/mobile/preferences/feature/src/lib/preferences.module.ts
  libs/mobile/preferences/feature/src/lib/preferences.page.html
  libs/mobile/preferences/feature/src/lib/preferences.page.scss
  libs/mobile/preferences/feature/src/lib/preferences.page.ts
  libs/mobile/preferences/feature/tsconfig.json
  libs/mobile/preferences/feature/tsconfig.lib.json
  libs/mobile/preferences/feature/tsconfig.spec.json
  schema.gql
  tsconfig.base.json
  workspace.json
Labels: priority:medium, status:ready, scope:api, scope:db, scope:ui

#150 ✨ (ML): Integrated ML into Add Dog page
  ML/breed_detector.py
  ML/requirements.txt
  ML/server.py
  apps/pawdopt/capacitor.config.ts
  apps/pawdopt/src/app/app.module.ts
  libs/backend/shell/api/feature/src/lib/api.dto.ts
  libs/backend/shell/api/feature/src/lib/api.resolver.ts
  libs/backend/shell/api/feature/src/lib/api.schema.ts
  libs/backend/shell/api/feature/src/lib/api.service.ts
  libs/mobile/adddog/feature/src/lib/adddog.page.html
  libs/mobile/adddog/feature/src/lib/adddog.page.ts
  package.json
  yarn.lock
Labels: priority:medium, status:ready, api, scope:api, type:addition

#154 🎨 (ML): Improved code efficiency
  .gitignore
  Docs/ML Model Diagrams/Model_Expanded.png
  Docs/ML Model Diagrams/Model_Summary.png
  Docs/ML Model Diagrams/My_Mini_Xception_Model.png
  ML/breed_detector.py
  ML/trainer.py
  libs/backend/shell/api/feature/src/lib/api.service.ts
Labels: documentation, priority:medium, status:ready, api, type:documentation, type:enhance, scope:api

#155 Implemented UI for Preferences Page 💄
  libs/mobile/preferences/feature/src/lib/preferences.page.html
  libs/mobile/preferences/feature/src/lib/preferences.page.scss
  libs/mobile/preferences/feature/src/lib/preferences.page.ts
Labels: design, status:not-ready, status:need-tests, scope:ui

#156 🚀 preferences+userprofile+userinfo
  apps/pawdopt/src/app/app-routing.module.ts
  apps/pawdopt/src/app/home/home.page.ts
  libs/backend/shell/api/feature/src/lib/api.service.ts
  libs/mobile/addorg/feature/src/lib/addorg.page.ts
  libs/mobile/orgsettings/feature/.babelrc
  libs/mobile/orgsettings/feature/.eslintrc.json
  libs/mobile/orgsettings/feature/README.md
  libs/mobile/orgsettings/feature/jest.config.ts
  libs/mobile/orgsettings/feature/project.json
  libs/mobile/orgsettings/feature/src/index.ts
  libs/mobile/orgsettings/feature/src/lib/orgsettings-routing.module.ts
  libs/mobile/orgsettings/feature/src/lib/orgsettings.module.ts
  libs/mobile/orgsettings/feature/src/lib/orgsettings.page.html
  libs/mobile/orgsettings/feature/src/lib/orgsettings.page.scss
  libs/mobile/orgsettings/feature/src/lib/orgsettings.page.ts
  libs/mobile/orgsettings/feature/tsconfig.json
  libs/mobile/orgsettings/feature/tsconfig.lib.json
  libs/mobile/orgsettings/feature/tsconfig.spec.json
  libs/mobile/owneddogs/feature/src/lib/owneddogs.page.ts
  libs/mobile/preferences/feature/src/lib/preferences.page.html
  libs/mobile/preferences/feature/src/lib/preferences.page.ts
  libs/mobile/userinfo/feature/src/lib/userinfo.page.html
  libs/mobile/userinfo/feature/src/lib/userinfo.page.scss
  libs/mobile/userinfo/feature/src/lib/userinfo.page.ts
  libs/mobile/userprofile/feature/src/lib/userprofile.page.html
  libs/mobile/userprofile/feature/src/lib/userprofile.page.ts
  tsconfig.base.json
  workspace.json
Labels: priority:high, status:ready, type:enhance, scope:api, scope:db

#157 Bug fixes and changes
  apps/pawdopt-e2e/src/integration/app.spec.ts
  apps/pawdopt/src/app/home/home.page.html
  apps/pawdopt/src/app/home/home.page.ts
  libs/backend/shell/api/feature/src/lib/api.resolver.ts
  libs/backend/shell/api/feature/src/lib/api.service.ts
  libs/mobile/adddog/feature/src/lib/adddog.page.ts
  libs/mobile/login/feature/src/lib/login.page.html
  libs/mobile/orgprofile/feature/src/lib/orgprofile.page.html
  libs/mobile/orgprofile/feature/src/lib/orgprofile.page.ts
  libs/mobile/orgsettings/feature/src/lib/orgsettings.page.html
  libs/mobile/owneddogs/feature/src/lib/owneddogs.page.ts
  libs/mobile/signup/feature/src/lib/signup.page.html
  libs/mobile/signup/feature/src/lib/signup.page.ts
  libs/mobile/updateorremovedog/feature/src/lib/updateorremovedog.page.html
Labels: bug, status:need-tests, scope:api

#158 Fixed bugs for pages 🐛
  apps/pawdopt/src/app/home/home.page.ts
  libs/backend/shell/api/feature/src/lib/api.resolver.ts
  libs/backend/shell/api/feature/src/lib/api.service.ts
  libs/mobile/adoptionprocess/feature/src/lib/adoptionprocess.page.ts
  libs/mobile/dashboard/feature/src/lib/dashboard.page.html
  libs/mobile/dashboard/feature/src/lib/dashboard.page.ts
  libs/mobile/orgsettings/feature/src/lib/orgsettings.page.html
  libs/mobile/orgsettings/feature/src/lib/orgsettings.page.scss
  libs/mobile/orgsettings/feature/src/lib/orgsettings.page.ts
  libs/mobile/preferences/feature/src/lib/preferences.page.html
  libs/mobile/preferences/feature/src/lib/preferences.page.ts
  libs/mobile/userinfo/feature/src/lib/userinfo.page.ts
Labels: status:not-ready, status:need-tests, api, scope:ui

#159 final fixes
  libs/mobile/dashboard/feature/src/lib/dashboard.page.ts
  libs/mobile/login/feature/src/lib/login.page.scss
  libs/mobile/owneddogs/feature/src/lib/owneddogs.page.html
  libs/mobile/owneddogs/feature/src/lib/owneddogs.page.ts
Labels: db

#160 Updated some E2E Testing
  apps/pawdopt-e2e/src/integration/app.spec.ts
  apps/pawdopt/src/app/home/home.page.html
  libs/mobile/login/feature/src/lib/login.page.html
  libs/mobile/signup/feature/src/lib/signup.page.html
Labels: enhancement, priority:low, status:ready, type:test, scope:client
